<div class="col s12 hide-on-med-and-up center-align">
  <div class="card red valign-wrapper center-align" style="min-height: 80px; min-width:250px;display: inline-block;font:40px/60px Georgia, Times New Roman, serif">
    <div class="card-content white-text">
      <span class="left brown-text" *ngIf="bluffed['cardRank'] != 'null'" style="font:60px/40px Georgia, Times New Roman, serif">{{bluffed["cardRank"]}}</span>
      <span class="right green-text" style="font:20px/40px Georgia, Times New Roman, serif">{{bluffed["cardCount"]}}({{bluffed["totalCardCount"]}})</span>
      <p class="center white-text truncate" style="font:20px/40px Georgia, Times New Roman, serif">{{bluffed["playerName"]}}</p>
    </div>
  </div>
</div>
<div *ngIf="isPlayerActive" class="col s12 hide-on-med-and-up center-align">
  <div class="card valign-wrapper center-align" style="min-height:100px;min-width:250px;display: inline-block;">
    <div class="card-content white-text">
      <a class="right btn-floating btn-large waves-effect waves-light red pulse" title="Throw" (click)="throwCards()"><i class="material-icons">play_circle_filled</i></a>
      <a *ngIf="bluffed['cardRank'] != 'null'" class="center btn-floating btn-large waves-effect waves-light red pulse" title="show" (click)="show()"><i class="material-icons mdi mdi-eye-outline"></i></a>
      <a *ngIf="bluffed['cardRank'] != 'null'" class="left btn-floating btn-large waves-effect waves-light red pulse" title="pass" (click)="pass()"><i class="material-icons">skip_next</i></a>
      <select *ngIf="isPlayerActive && bluffed['cardRank'] == 'null'" [(ngModel)]=bluffedCardRank class="left browser-default black-text" style="width:100px">
        <option *ngFor="let rank of cardRanks" value="{{rank}}">{{rank}}</option>
      </select>
    </div>
  </div>
</div>
<div class="col s12 hide-on-med-and-up center-align">
  <span style="font:20px/10px Georgia, Times New Roman, serif">{{cards.length}}</span><br>
  <div *ngFor="let card of cards" (click)="selectCard($event, card)" class="card red lighten-5 hoverable valign-wrapper left-align" style="height: 80px; width:40px;display: inline-block;font:15px/20px Georgia, Times New Roman, serif">
    <div class="card-content green-text">
      <span>{{card['rank']}}</span><br>
      <span *ngIf="card['suit'] == 'Club'" style="color:black">♣</span>
      <span *ngIf="card['suit'] == 'Diamond'" style="color:red">♦</span>
      <span *ngIf="card['suit'] == 'Heart'" style="color: red">♥</span>
      <span *ngIf="card['suit'] == 'Spade'" style="color:black">♠</span>
    </div>
  </div>
</div>
<div class="col s12 hide-on-med-and-up center-align">
  <div *ngFor="let card of openCards" class="card red lighten-5 hoverable valign-wrapper left-align" style="height: 80px; width:40px;display: inline-block;font:15px/20px Georgia, Times New Roman, serif">
    <div class="card-content green-text">
      <span>{{card['rank']}}</span><br>
      <span *ngIf="card['suit'] == 'Club'" style="color:black">♣</span>
      <span *ngIf="card['suit'] == 'Diamond'" style="color:red">♦</span>
      <span *ngIf="card['suit'] == 'Heart'" style="color: red">♥</span>
      <span *ngIf="card['suit'] == 'Spade'" style="color:black">♠</span>
    </div>
  </div>
  <div *ngIf="openCards.length != 0" class="col s1"><a class="blue-text" (click)="clearOpenCards()"><i class="red-text material-icons mdi mdi-close-outline"></i></a></div>
</div>
<div class="input-field col m10 hide-on-small-only">
  <div class="row">
    <div class="col m9">
      <div class="row">
        <div class="col offset-m1">
          <div class="card red valign-wrapper center-align" style="height: 200px; width:150px;display: inline-block;font:40px/60px Georgia, Times New Roman, serif">
            <div class="card-content white-text">
              <p style="font:40px/60px Georgia, Times New Roman, serif"><i class="material-icons mdi mdi-animation"></i>{{bluffed["totalCardCount"]}}</p>
            </div>
          </div>
        </div>
        <div class="col m4 center-align">
          <div class="card red lighten-5 hoverable valign-wrapper center-align" style="height: 200px; width:150px;display: inline-block;font:40px/60px Georgia, Times New Roman, serif">
            <h1 *ngIf="bluffed['cardRank'] != 'null'" class="red-text" style="font:100px/160px Georgia, Times New Roman, serif">{{bluffed["cardRank"]}}</h1>
          </div>
        </div>
        <div class="col m4 left-align">
          <div class="card red valign-wrapper center-align" style="height: 200px; width:150px;display: inline-block;font:40px/60px Georgia, Times New Roman, serif">
            <div class="card-content white-text">
              <p style="font:40px/60px Georgia, Times New Roman, serif"><i class="material-icons mdi mdi-animation"></i>{{bluffed["cardCount"]}}</p>
              <p style="font:20px/90px Georgia, Times New Roman, serif" class="truncate">{{bluffed['playerName']}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col m12">
          <span style="font:20px/10px Georgia, Times New Roman, serif">{{cards.length}}</span><br>
          <div *ngFor="let card of cards" (click)="selectCard($event, card)" class="card red lighten-5 hoverable valign-wrapper center-align" style="height: 150px; width:100px;display: inline-block;font:40px/60px Georgia, Times New Roman, serif">
            <div class="card-content green-text">
              <p>{{card['rank']}}</p>
                <span *ngIf="card['suit'] == 'Club'" style="color:black">♣</span>
                <span *ngIf="card['suit'] == 'Diamond'" style="color:red">♦</span>
                <span *ngIf="card['suit'] == 'Heart'" style="color: red">♥</span>
                <span *ngIf="card['suit'] == 'Spade'" style="color:black">♠</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col m11 border">
          <div *ngFor="let card of openCards" class="card red lighten-5 hoverable valign-wrapper center-align" style="height: 150px; width:100px;display: inline-block;font:40px/60px Georgia, Times New Roman, serif">
            <div class="card-content green-text">
              <p>{{card['rank']}}</p>
              <span *ngIf="card['suit'] == 'Club'" style="color:black">♣</span>
              <span *ngIf="card['suit'] == 'Diamond'" style="color:red">♦</span>
              <span *ngIf="card['suit'] == 'Heart'" style="color: red">♥</span>
              <span *ngIf="card['suit'] == 'Spade'" style="color:black">♠</span>
            </div>
          </div>
          <div *ngIf="openCards.length != 0" class="col s1"><a class="blue-text" (click)="clearOpenCards()"><i class="red-text material-icons mdi mdi-close-outline"></i></a></div>
        </div>
      </div>
    </div>
    <div *ngIf="isPlayerActive && bluffed['cardRank'] == 'null'" class="col m1 red z-depth-3">
      <ul class="collection">
        <a class="collection-item center" *ngFor="let rank of cardRanks" (click)="selectRank($event, rank)" id="{{rank}}">
            {{rank}}
        </a>
      </ul>
    </div>
    <div *ngIf="isPlayerActive" class="col m2 red z-depth-3">
      <a class="right" (click)="getInfo($event)">{{infoIcon}}</a>
      <ul class="collection">
        <li class="collection-item center">
          <!--<select *ngIf="isBluffedRankNull" [(ngModel)]=bluffedCardRank class="browser-default">-->
            <!--<option *ngFor="let rank of cardRanks" [value]="rank">{{rank}}</option>-->
          <!--</select>-->
          <a class="btn-floating btn-large waves-effect waves-light red pulse" title="Throw" (click)="throwCards()"><i class="material-icons">play_circle_filled</i></a>
          <span class="" style="font:10px/10px Georgia, Times New Roman, serif">{{info[0]}}</span>
        </li>
        <li *ngIf="bluffed['cardRank'] != 'null'" class="collection-item center">
          <a class="btn-floating btn-large waves-effect waves-light red pulse" title="show" (click)="show()"><i class="material-icons mdi mdi-eye-outline"></i></a>
          <span class="" style="font:10px/10px Georgia, Times New Roman, serif">{{info[1]}}</span>
        </li>
        <li *ngIf="bluffed['cardRank'] != 'null'" class="collection-item center">
          <a class="btn-floating btn-large waves-effect waves-light red pulse" title="pass" (click)="pass()"><i class="material-icons">skip_next</i></a>
          <span class="" style="font:10px/10px Georgia, Times New Roman, serif">{{info[2]}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
